

div{
    background-color: tomato;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
p{
    text-align: justify;
}